.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/MobileApp/config/applicationhost.config
.vs/MobileApp/FileContentIndex/7d4be033-c4fc-4bff-95ce-dc5a6f0d0f6c.vsidx
.vs/MobileApp/v17/.wsuo
.vs/MobileApp/v17/DocumentLayout.backup.json
.vs/MobileApp/v17/DocumentLayout.json
